<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info">
        <h4>Actividad 6. Creación api rest</h4>
        <p>En esta actividad se desarrolló una api rest que expone los siguientes recursos:</p>
        <ul>
          <li>http://54.210.31.44:3100/authentication/login</li>
          <li>http://54.210.31.44:3100/authentication/register</li>
          <li>http://54.210.31.44:3100/cases/save</li>
          <li>http://54.210.31.44:3100/cases/get?type=[type]&document=[document]</li>
        </ul>
        <hr>
        <p [innerHTML]="userName"></p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-2">
      <a class="btn btn-block btn-primary" routerLink="login">Iniciar sesión</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <a class="btn btn-block btn-primary" routerLink="signup">Registrarse</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <a class="btn btn-block btn-primary" routerLink="register-case">Registrar caso</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <a class="btn btn-block btn-primary" routerLink="get-cases">Consultar casos</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <a class="btn btn-block btn-danger" (click)="closeSession()">Cerrar sesión</a>
    </div>
  </div>
  <hr>
  <router-outlet (activate)="subscribeToEmmiter($event)" (deactivate)="unsubscribe()"></router-outlet>
</div>
